<div class="row m-3">
  <% @menus.each do |menu| %>
    <div class="col-md-3">
      <%= link_to menu_path(menu.id), style: "color:#0f2350;" do %>
        <div class="card mb-3">
          <%= image_tag menu.get_image(400, 250) %>
          <div class="card-body">
            <h5 class="card-title">
              <%= menu.title %>
            </h5>
            <p class="card-text"><%= menu.price %>円</p>
            <p class="font-weight-bold">
              <% if menu.is_available %>
                <span class="text-success">販売中</span>
              <% else %>
                <span class="text-danger">販売停止中</span>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>