<div class="contents ">
  <% url = request.fullpath %>
  <% if params[:new_reservation_id] %>
    <h2>ご予約が確定しました！</h2>
  <% else %>
    <h2>ご予約は確定済みです！</h2>
    <p><%= link_to 'メニュー一覧', menu_path %></p>
  <% end %>
</div>