<div class="container mt-5">
  <h3 class="font-weight-bold m-5">予約履歴</h3>

  <div class="row">
    <table class="table table-hove ">
      <thead>
        <tr>
          <th>宿泊予定日</th>
          <th>お帰り予定日</th>
          <th>ホテル名</th>
        </tr>
      </thead>
      <tdody>
       <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.start_reservation_date %></td>
    <td><%= reservation.end_reservation_date %></td>
    <td><%= link_to reservation.menu.hotel.name, reservations_show_path(reservation) %></td>
        </tr>
       <% end %>
       </tdody>
    </table>
  </div>
</div>

</div>
