<div class="d-flex align-items-center justify-content-center" style="height:300px;">
   ホテルが無駄なリスクを背をわないようにすることで<br>
   その分安く皆さんにお部屋を提供したいと考えています!<br>
   節度を守ってお互い気持ちよくご利用いただけるお客様を対象とした<br>
   予約サイトでございます。<br>
   また、本サイトは会員登録をしていただくことでご利用いただけます！
 </div>
<%= image_tag 'about.jpg', class: 'image' %>