@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@1&display=swap');

.navbar-brand{
  font-family: 'Inclusive Sans', sans-serif;
}

.image-container {
  position: relative;
}

.image {
  width: 100%;
  height: 250px;
}

.text-overlay {
  position: absolute;
  top: 20px;
  left: 50%;
  padding: 10px;
  color: white;
  font-size: 25px;
}

.overlay-text {
  margin: 0;
}

.table-small {
  width: 50%;
  margin: 0 auto;
}

.new {
  padding: 30px;
}

.btn-outline-secondary {
  color: #9ea1a3;
  background-image: none;
  border-color: #9ea1a3;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #9ea1a3;
  border-color: #9ea1a3;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #9ea1a3;
  background-color: #9ea1a3;
}

.btn-outline-primary {
  color: #2ca9e1;
  background-image: none;
  border-color: #2ca9e1;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #2ca9e1;
  border-color: #2ca9e1;
}

.btn-outline-primary:focus, .btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #2ca9e1;
  background-color: #2ca9e1;
}

.btn-outline-success {
  color: #93ca76;
  background-image: none;
  border-color: #93ca76;
}

.btn-outline-success:hover,
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #93ca76;
  border-color: #93ca76;
}

.btn-outline-success:focus, .btn-outline-success.focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #93ca76;
  background-color: #93ca76;
}

.btn-outline-danger {
  color: #ec6d71;
  background-image: none;
  border-color: #ec6d71;
}

.btn-outline-danger:hover,
.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #ec6d71;
  border-color: #ec6d71;
}

.btn-outline-danger:focus, .btn-outline-danger.focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #ec6d71;
  background-color: #ec6d71;
}

// 通報ステータス
.status-untouched {
  color: red;
  font-weight: bold;
}

.status-middle {
  color: orange;
  font-weight: bold;
}

.status-finish {
  color: green;
  font-weight: bold;
}

@media (max-width:767px) {
    .show-image{
        margin: 5px;
    }
}
