<div class="container mt-3">
  <div class="row d-flex justify-content-between">
     <h3 class="font-weight-bold mb-4 offset-3">検索結果</h3>
  </div>
   <div class="row">
  <table class="table table-sm table-hover table-small">
    <thead>
      <tr>
        <th>ホテル名</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class= "text-right"><%= @results.count %>件</td>
      </tr>
      <% @results.each do |result| %>
        <tr>
          <td  class= "text-center">
            <%= link_to searches_index_path(hotel_id: result.id) do %>
              <%= result.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>