<div class="container mt-3">
  <h3>通報一覧</h3>
  <div class="row">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th class="text-center">通報ID</th>
          <th>会員名</th>
          <th>通報者</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td class="text-center">
              <%= link_to report.id, admin_report_path(report) %>
            </td>
            <td>
              <%= report.hotel.name %>
            </td>
            <td>
              <%= report.customer.full_name %>
            </td>
            <td>
              <%= report.status_i18n %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>